.customButton {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 2px;
    line-height: 50px;
    padding: 0 28px 0 28px;
    font-size: 15px;
    background-color: #cc6917;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
        background-color: white;
        color: black;
    }

    &.googleSignIn {
        background: #333;
        color: #cc6917;
        border: 1px solid #cc6917;

        &:hover {
            background: white;
            color: #cc6917;
            border: none;
        }
    }
}
