.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logoContainer {
        height: 100%;
        width: 70px;
        padding: 25px;
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .option {
            padding: 10px 15px;
            font-size: 1.2rem;
            letter-spacing: 2px;
            cursor: pointer;
        }

        .option:hover {
            border-bottom: 1px solid #cc6917;
            color: #cc6917;
        }
    }
}
